<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533082351504-er371loshkmkjtko722i9ss3idghhnqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533082351504-er371loshkmkjtko722i9ss3idghhnqr</string>
	<key>API_KEY</key>
	<string>AIzaSyDYjvHUYppfCEhWrvojmapzWHJXGwRwZfM</string>
	<key>GCM_SENDER_ID</key>
	<string>533082351504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MentalWellnessApplication</string>
	<key>PROJECT_ID</key>
	<string>lifetree-c1ed8</string>
	<key>STORAGE_BUCKET</key>
	<string>lifetree-c1ed8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533082351504:ios:0397ed3f252e576b2b7515</string>
</dict>
</plist>